.loginWrap {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    height: 100%;

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
        background-image: linear-gradient(
            to right bottom,
            rgb(20 120 126),
            rgb(77 201 145)
        );
        color: #fff;
        font-size: 42px;
        font-family: 'Wawati SC';
    }

    .right {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        // justify-content: center;
        flex: 3;
        margin-top: 10%;

        :global {
            .ant-tabs-tab {
                font-size: 18px;
            }

            .ant-tabs-nav::before {
                border-bottom: 0;
            }

            .ant-tabs-ink-bar {
                border-radius: 50%;
            }

            input:-webkit-autofill {
                box-shadow: 0 0 0 1000px #fff inset !important;
            }

            .ant-form-item .ant-form-item-feedback-icon {
                font-size: 18px;
            }
        }
    }
}
