.edit-wrap {
  display: flex;
  .edit-content {
    display: flex;
    width: 100%;
    .edit-left {
      min-width: 300px;
      max-width: 50%;
    }

    .edit-midline {
      padding: 0 2px;
      border-right: 2px solid #f00;
      cursor: col-resize;
      &:hover {
        border-color: rgb(77, 201, 145);
      }
    }

    .edit-right {
      flex: 1;
    }
  }
}
