.setting-wrap {
    padding: 0 40px 40px;

    .title {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .account {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .avatar-wrap {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .text {
                margin-left: 10px;
            }
        }
    }

    .name-wrap {
        .title {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .name {
                font-size: 20px;
            }

            .desc {
                color: rgb(59 59 59);
                word-break: break-word;
                line-height: 24px;
            }

            .ant-form-item {
                width: 80%;

                input {
                    padding: 8px 10px;
                    font-size: 20px;
                    border-radius: 5px;
                }
            }

            .ant-input:focus,
            .ant-input-focused {
                border: 2px solid rgb(77 201 145);
                box-shadow: 0 0 2px rgb(77 201 145 / 10%);
            }
        }
    }
}
