.fontList {
    .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;

        .delBtn {
            cursor: pointer;
        }
    }

    .text + .text {
        margin-top: 10px;
    }
}

.delPopconfirmWrap {
    :global {
        .ant-popconfirm-message {
            font-size: 18px;

            .ant-popconfirm-message-icon .anticon {
                font-size: 18px;
            }
        }
    }
}
