html,
body {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

// 头像下拉框
.avatar-dropdown {
  padding: 20px;
  .ant-dropdown-menu {
    padding: 20px;
    border-radius: 20px 0 20px 20px;

    .line {
      width: 100%;
      border-bottom: 2px solid #eee;
      margin-bottom: 8px;
    }
    .ant-dropdown-menu-item {
      border-radius: 8px;
      background-color: none;
      padding: 12px;
      color: rgb(60, 60, 72);
      &:first-of-type:hover,
      .ant-dropdown-menu-submenu-title:first-of-type:hover {
        background-color: #fff !important;
      }
      &:not(:first-of-type):hover,
      .ant-dropdown-menu-submenu-title:not(:first-of-type):hover {
        background-color: rgb(242, 242, 242) !important;
      }
    }
  }
}
